.user {
  display: flex;
  background-color: #131429;

  .userContainer {
    flex: 4;
    color: white;
    margin: 10vw 5vw;

    .content{
      display: flex;

      img{
        width: 500px;
        border-radius: 50%;
        height: 500px;
        margin-left: 25vw;
      }
    }

    .widgets,
    .charts {
      display: flex;
      padding: 20px;
      gap: 20px;
    }

    .charts {
      padding: 5px 20px;
    }

    .listContainer {
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
      padding: 20px;
      margin: 20px;

      .listTitle {
        font-weight: 500;
        color: gray;
        margin-bottom: 15px;
      }

  
    }
    .information__wrapper{
      position: absolute;
      padding: 5px;
      width: 300px;

      &__item {
        display: flex;
        padding: 10px;
        border-bottom: 1 px solid whitesmoke;
        &text{

        }
      }
    }

  }
}



